.image {
    height: 100px;
    width: 100px;  
    image-rendering: auto;
  }
  
  .crisp-edges {
    image-rendering: -webkit-optimize-contrast; /* Chrome, Edge, Opera, and Safari */
    image-rendering: crisp-edges;
  }
  
  .pixelated {
    image-rendering: pixelated;
  }
  
  .smooth {
    image-rendering: smooth;
  }
  
  .high-quality {
    image-rendering: high-quality;
  }